In [ ]:
!sudo apt-get install python3-dev libmysqlclient-dev > /dev/null
!pip install mysqlclient > /dev/null
!sudo pip3 install -U sql_magic > /dev/null
!pip install psycopg2-binary > /dev/null

In [ ]:
import pandas as pd
import json
import requests
import seaborn as sns

In [ ]:
from sqlalchemy import create_engine
conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset=utf8'.format(
    user='escAPIng_from_new_york', #user naades to change
    password='***', 
    host = '***', 
    port=3306, 
    db='musicconsulting',
    encoding = 'utf8mb4'
)
engine = create_engine(conn_string)
engine

Engine(mysql://escAPIng_from_new_york:***@jsedocc7.scrc.nyu.edu:3306/musicconsulting?charset=utf8)

In [ ]:
# Prepare sql_magic library that enable to query to database easily.
%reload_ext sql_magic
%config SQL.conn_name = 'engine'

In [ ]:
def parse_spotify_data(file_name):
  df = pd.read_csv(file_name)
  output = []
  for index, row in df.iterrows():
      analysis_parsed = json.loads(row['analysis'].replace("'", '"'))
      out_row = dict()
      out_row['title'] = row['title']
      out_row['artist'] = row['artist']
      out_row['ids'] = row['ids']
      if len(analysis_parsed) > 0:
          out_row['danceability'] = analysis_parsed[0]['danceability']
          out_row['energy'] = analysis_parsed[0]['energy']
          out_row['loudness'] = analysis_parsed[0]['loudness']
          out_row['speechiness'] = analysis_parsed[0]['speechiness']
          out_row['acousticness'] = analysis_parsed[0]['acousticness']
          out_row['liveness'] = analysis_parsed[0]['liveness']
          out_row['valence'] = analysis_parsed[0]['valence']
          out_row['tempo'] = analysis_parsed[0]['tempo']
      output.append(out_row)

  out_df = pd.DataFrame(output)
  return out_df

In [ ]:
import pandas as pd
import json
spotifydf2011 = parse_spotify_data('df2011_with_analysis_done.csv')
spotifydf2011

                           title  ...    tempo
0            Rolling In The Deep  ...  104.948
1              Party Rock Anthem  ...  130.014
2                       Firework  ...  124.072
3                           E.T.  ...  150.104
4             Give Me Everything  ...  129.005
..                           ...  ...      ...
94  Are You Gonna Kiss Me Or Not  ...  151.948
95                        Animal  ...  148.003
96               You And Tequila  ...  135.839
97                Colder Weather  ...  135.975
98                       My Last  ...   78.629

[99 rows x 11 columns]

In [ ]:
import pandas as pd
year = 2017
year = str(year)
dferror = pd.read_csv('df' + year + '_with_analysis_done.csv')
dferror

In [ ]:
#finding error
lists = dferror.analysis.tolist()
for index in range(len(lists)): 
  if 'error' in lists[index]: 
    print (f'{index}: {lists[index]}')

39: [{'error': {'status': 401, 'message': 'The access token expired'}}]

In [ ]:
missing = 39
track_id = dferror.iloc[missing].ids
track_id = track_id[2:-1]
track_id

"4nJToJhf3I4zHnuCimcOIW'"

In [ ]:
import requests
def get_info(track_id, TOKEN): 
    url = 'https://api.spotify.com/v1/audio-features/' + track_id
    headers = {
    'Accept' : 'application/json',
    'Content-Type': 'application/json',
    'Authorization' : "Bearer " + TOKEN
    }
    response = requests.get(url, headers=headers)
    info = response.json()
    return info

In [ ]:
TOKEN = '***'
info = get_info(track_id, TOKEN=TOKEN)

{'error': {'message': 'The access token expired', 'status': 401}}

In [ ]:
dferror.analysis.iloc[missing]=[info]
dferror.iloc[missing]

In [ ]:
dferror.to_csv('df' + year + '_with_analysis_done.csv')

In [ ]:
spotifydf2011 = parse_spotify_data('df2011_with_analysis_done.csv')
spotifydf2012 = parse_spotify_data('df2012_with_analysis_done.csv')
spotifydf2013 = parse_spotify_data('df2013_with_analysis_done.csv')
spotifydf2014 = parse_spotify_data('df2014_with_analysis_done.csv')
spotifydf2015 = parse_spotify_data('df2015_with_analysis_done.csv')
spotifydf2016 = parse_spotify_data('df2016_with_analysis_done.csv')
spotifydf2017 = parse_spotify_data('df2017_with_analysis_done.csv')
spotifydf2018 = parse_spotify_data('df2018_with_analysis_done.csv')
spotifydf2019 = parse_spotify_data('df2019_with_analysis_done.csv')
spotifydf2020 = parse_spotify_data('df2020_with_analysis_done.csv')

In [ ]:
for i in range(10):
  year=str(2010+i+1)
  df=parse_spotify_data('df'+year+'_with_analysis_done.csv')
  df.to_csv('df_'+year+'parsing_done.csv')